<!DOCTYPE html>
<html>
  <head>
    <title>White Pages CallerId</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <style>
    #log {
      font:  30px/normal sans-serif;
    }

    </style> 


    <script type="text/javascript">
  
    var globalConn; //stores live connection 
    Twilio.Device.setup("<%= token %>", {debug: true});
  
      Twilio.Device.ready(function (device) {
        $("#log").text("Client is ready");
      });
  
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
  
      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
      });
  
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
  
      Twilio.Device.incoming(function (conn) {
        // set the globalConn
        $("#log").text("Getting name from Whitepages...");
        globalConn = conn;
        // fetch caller name from Whitepages API
        $.post("getname", {callerId: conn.parameters.From}, function (data) {
            $("#log").text("Call from: " + data);
        });
      });
  
      function answer() {
        // answer the call
        globalConn.accept();
      }
  
      function hangup() {
        Twilio.Device.disconnectAll();
      }
    </script>
  </head>
  <body>
  
    <div>
    <a href="http://pro.whitepages.com/"><img src="http://pro.whitepages.com/wp-content/uploads/2014/09/wp-logo-large.png" width="237" height="47"></a>
    </div>
    <div>
      <br>
      PLUS
    </div>

    <button class="call" onclick="answer();">
      Answer
    </button>

    <button class="hangup" onclick="hangup();">
      Hangup
    </button>

    <div id="log">Starting up....</div>
    <div style="font: 24px"> Call: <%= caller_id %> </div>

  
  </body>
</html>