<!DOCTYPE html>
<html>
  <head>
    <title>White Pages CallerId</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

    <script type="text/javascript"
      src="scripts/jquery-template/jquery.loadTemplate-1.4.5.js">
    </script>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <style>
    
    #log {
      font:  30px/normal sans-serif;
    }
    


.caller_profile_text {
  font-family: 'PT Sans', sans-serif;
  overflow:auto;
  color:#EDEDED;
  background:rgba(0,0,0,0.5);
  border-radius:12px;
  border:1px solid rgba(0,0,0,.5);
  text-shadow: 1px 1px 0 rgba(0,0,0,.8);
  padding:14px;
  vertical-align:middle;
  }

.caller_profile_label {
  font-family: 'PT Sans', sans-serif;
  width: 60px;
  float: left;
  text-align: left;
  display: block;
  font-weight:bold;
  }

.caller_profile_text span {
  margin:0 0 0 14px;
  padding:3px 8px;
  }
  
.caller_profile_vcard p {
  margin:0 0 10px;
  height:14px;
  text-align: left;
  border-radius:12px;
  }

.caller_profile {
  margin:25px auto 0 auto;
  width:450px;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  letter-spacing:.1em;
  }

  
  button.call, button.hangup {
      margin: 200px 0 0 0;
  }

    </style> 


    <script type="text/javascript">
  
    var globalConn; //stores live connection
    var globalName; //stores name  
    Twilio.Device.setup("<%= token %>", {debug: true});
  
      Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
      });
  
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
  
      Twilio.Device.connect(function (conn) {
        $("#log").text("On call with: " + globalName);
      });
  
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });

      Twilio.Device.cancel(function (conn) {
        $("#log").text("Call missed");
      });
  
      Twilio.Device.incoming(function (conn) {
        // set the globalConn
        $("#log").text("Getting name from Whitepages...");
        globalConn = conn;
        // fetch caller name from Whitepages API
        $.post("getname", {callerId: conn.parameters.From}, function (data) {
            data = jQuery.parseJSON(data);
            globalName = data.name;
            $("#log").text("Call from: " + data.name);
            $(".script-template-container").loadTemplate($("#template"), data);

            $("<li>", {id: conn.Id, text: data.name}).prependTo("#people");
        });
      });


  
      function answer() {
        // answer the call
        globalConn.accept();
      }
  
      function hangup() {
        Twilio.Device.disconnectAll();
      }

      function addcaller() {
      }

    </script>
  </head>
  <body>
  
    <div>
    <a href="http://pro.whitepages.com/"><img src="//pro.whitepages.com/wp-content/uploads/2014/09/wp-logo-large.png" width="237" height="47"></a>
    </div>
    <div>
      <br/>
      PLUS
    </div>

    <button class="call" onclick="answer();">
      Answer
    </button>

    <button class="hangup" onclick="hangup();">
      Hangup
    </button>

    <div id="log">Starting up....</div>
    

    <div class="script-template-container">     </div>
    
    <script type="text/html" id="template">
      <div class='caller_profile'>
        <p class='call_title'>Caller Profile</p> 
        <div class="caller_profile_vcard vcard">
         <div class="caller_profile_text">
          <p><label class="caller_profile_label">Number:</label>   <span class="fn editable" id="profile_edit_name" data-content="number"></span></p> 
           <p><label class="caller_profile_label">Name:</label>   <span class="fn editable" id="profile_edit_name" data-content="name"></span></p>
           <p><label class="caller_profile_label">Phone:</label>   <span class="fn editable" id="profile_edit_name" data-content="phonetype"></span></p>
           <p><label class="caller_profile_label">Carrier:</label>   <span class="fn editable" id="profile_edit_name" data-content="carrier"></span></p>
           <p><label class="caller_profile_label">Type:</label>   <span class="fn editable" id="profile_edit_name" data-content="persontype"></span></p>
           <p><label class="caller_profile_label">Addrress:</label>   <span class="fn editable" id="profile_edit_name" data-content="address"></span></p>
           <p><label class="caller_profile_label">City:</label>   <span class="fn editable" id="profile_edit_name" data-content="city"></span></p>
           <p><label class="caller_profile_label">Zip:</label>   <span class="fn editable" id="profile_edit_name" data-content="postal_code"></span></p>
         </div>
        </div>
      </div>  
      </script>
     

    </script>   
    <ul id="people"/>
  
  </body>
</html>